<form action='/songs/<%=@song.slug%>' method='post'>
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <table>

    <tr>
      <th>Song Name</th>
      <th>Artist</th>
      <th>Genres</th>
    </tr>

    <tr>
      <td><input type='text' name='name' id='Name' value ='<%=@song.name%>'></td>
      <td><input type='text' name='artist_name' id='Artist Name' value='<%=@song.artist_name%>'></td>
      <td>
        <%Genre.all.each do |genre| %>
          <label for='<%=genre.name%>'> <%=genre.name%> </label>
          <input id='<%=genre.name%>' type='checkbox' name='genres[]' value='<%=genre.id%>' <%if @song.genres.include?(genre) %> checked='true' <% end %>>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><input type='submit' id='submit' name='submit' value="Create New"></td>
    </tr>
  </table>

</form>
